package components

import (
	"maps"
	"github.com/peterszarvas94/goat/pkg/content"
)

templ ArticleList(files content.FileMap) {
	<ul class="list">
		for route, file := range maps.All(files) {
			<li class="list-row">
				<a
					href={ templ.SafeURL(route) }
					class="link"
				>
					{ content.GetTitle(file.Frontmatter, route) }
				</a>
			</li>
		}
	</ul>
}
