@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.0/tailwind.min.css";
@import "https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css";

body {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 0 auto;
	padding: 2rem 0;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2rem;
}
