package components

templ ContentInputOld() {
	<label for="content">Content</label>
	<textarea class="textarea w-full" name="content" id="content"></textarea>
}

templ ContentInput() {
	<input
		id="content-input"
		type="hidden"
		name="content"
	/>
	<label for="content">Content</label>
	<trix-editor
		id="content"
		class="prose"
		input="content-input"
	></trix-editor>
}
