package components

import (
	"basic-auth/db/models"
	"fmt"
)

templ Post(post *models.Post) {
	<li class="list-row">
		<a
			href={ templ.SafeURL(fmt.Sprintf("/post/%s", post.ID)) }
			class="link"
		>
			{ post.Title }
		</a>
	</li>
}
