package components

type PostformProps struct {
	CSRFToken string
	UserID    string
}

templ Postform(props PostformProps) {
	<form
		hx-post="/post"
		hx-target="#posts"
		hx-target-error="#toast"
		hx-swap="beforeend"
		hx-ext="form-reset"
		class="flex flex-col gap-4 w-full"
	>
		@TitleInput()
		@ContentInput()
		@CSRFInput(props.CSRFToken)
		<button class="btn btn-primary w-fit" type="submit">Create post</button>
	</form>
	<p class="py-4 text-error" id="post-error"></p>
}
