package components

import (
	"fmt"
)

type UserinfoProps struct {
	Name  string
	Email string
}

templ Userinfo(user UserinfoProps) {
	<section
		id="userinfo"
		class="flex flex-col gap-4 justify-center items-center"
	>
		<div class="italic">
			logged in as:
			{ fmt.Sprintf("%s (%s)", user.Name, user.Email) }
		</div>
		<button class="btn btn-primary" hx-post="/logout">Logout</button>
	</section>
}
