package components

import (
	"basic-auth/db/models"
	"fmt"
)

templ Post(post *models.Post) {
	<li>
		<a
			href={ templ.SafeURL(fmt.Sprintf("/post/%s", post.ID)) }
			hx-boost="true"
		>
			{ post.Title }
		</a>
	</li>
}
